.poster {
  width:200px;
  height: 300px;

}
.search-bar{
  width: 500px;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.btn-space{
  margin-right: 400px;
}
.searchdiv{
  padding: 25px;
  width: 750px;
  margin-top: 2rem;
}
.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
